@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar customizado */
/* Scrollbar moderna e sutil */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(142, 155, 161, 0.4); /* tom do seu azul (#017DB9) com opacidade */
  border-radius: 8px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 138, 141, 0.6);
}

.fade-bottom-mask {
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}
/* Garante que o conteúdo dentro do popup não tenha margens estranhas */

/* Estilos da barra de rolagem para Firefox */

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}
